.profile-pic {
  position: relative;
  img {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 40px;
    display: block;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
  }
}
